@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

:root {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
}

.bg-navbar {
    background-color: #262626;
}

.nav-item{
    color: rgb(165, 165, 165);
    transition: .2s;
}

.nav-item:hover{
    color: #ffffff;
    background-color: #1d1d1d;
    transition: .2s;
    box-shadow: inset 0px 0px 8px #00060c;
}

.profile_pic{
    box-shadow: -10px -10px #2995fa;
}

.box-contain{
    background: linear-gradient(0deg, rgb(115, 80, 255) 0%, rgba(41,149,250,1) 50%);
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    font-size: 0.7vw;
    margin-right: 7px;
}

.interest p{
    line-height: 0;
}

.menu-header-box{
    display: block;
    background-color: #fff;
    width: 100%;
    height: 15vh;
    margin-top: 50px;
    transition: 0.5s;
}

.menu-header-box:hover{
    transform: scale(1.01);
    transition: 0.5s;
}

.menu-header-box:hover .text-hl{
    background: #fff;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.menu-header-1{
    background-image: url("/img/workexpborderBW.png");
    background-size: cover;
}

.menu-header-1:hover{
    background-image: url("/img/workexpborderColor.png");
    background-size: cover;
}

.menu-header-2{
    background-image: url("/img/TAborderBW.png");
    background-size: cover;
}

.menu-header-2:hover{
    background-image: url("/img/TAborderColor.png");
    background-size: cover; 
}

.menu-header-3{
    background-image: url("/img/skillBW.png");
    background-size: cover;
}

.menu-header-3:hover{
    background-image: url("/img/skillColor.png");
    background-size: cover; 
}

.menu-header-4{
    background-image: url("/img/additionalActivitiesBW.png");
    background-size: cover;
}

.menu-header-4:hover{
    background-image: url("/img/additionalActivitiesColor.png");
    background-size: cover; 
}


.menu-header-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: start; 
    align-items: center;
    padding-left: 50px;
}

.menu-header-container h1{
    font-size: 1.7vw;
    font-weight: 600;
    color: #fff;
}


/*section*/
section{
    display: block;
    height: 100vh;
}

.section-banner {
    display: block;
    height: 30vh !important;
}

#sec-main{
    background-image: url(/img/secmain-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

#sec-third{
    background-image: url(/img/bg-third-sec.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #151515;
    width: 100%;
}

#sec-sub-header{
    background-image: url(/img/work_exp_banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

/*text*/
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-hl{
    background: linear-gradient(0deg, rgb(115, 80, 255) 0%, rgba(41,149,250,1) 50%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-sz-big{
    font-size: 7vw;
    font-weight: 600;
}

.text-sz-nr{
    font-size: 3vw;
    font-weight: 600;
}

.text-sz-sm{
    font-size: 1vw;
    font-weight: 600;
}

.text-gradient{
    background: linear-gradient(0deg, rgb(115, 80, 255) 0%, rgba(41,149,250,1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-box-1{
    margin-left: 5vw;
}

.hover-text-hl{
    transition: 0.5s;
}

.hover-text-hl:hover{
    color: #2995fa;
    transition: 0.5s;
}

.header-1{
    font-size: 1.5vw;
    font-weight: 600;
    color: #fff;
}

.txt-highlight-3 {
	position: relative;
	background: transparent;
	/*padding-left: 5px;*/
	transition: 1s;
}

.txt-highlight-3::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	animation: highlight-anim 1s;
	animation-fill-mode: forwards;
}

.info{
    font-size: 0.8vw;
    font-weight: 400;
    color: #fff;
}

.info-sm{
    font-size: 0.7vw;
    font-weight: 400;
    color: #fff;
}

.info-dot{
    color: #2995fa;
}

.info-fade{
    font-size: 0.65vw;
    font-style: italic;
    color: #b9b9b9;
}

.text-menu-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-center-hv{
    display: flex !important; 
    justify-content: center; 
    align-items: center;
}

/*Card*/
.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    height: 400px;
    background-color: #1d1d1d;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.35s ease;
    margin: 20px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05) translateY(-20px);
    background-color: #262626;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card .thumbnail{
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.card .thumbnail, .card .entry {
    padding-left: 30px;
    padding-right: 30px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    z-index: 0;
    transition: all 1s 0.05s ease;
    filter: saturate(0) brightness(0.6);
    transition: 1s;
}

.card:hover .image-bg{
    filter: saturate(1) brightness(1);
    transform: scale(1.1);
    transition: 1s;
}

.card .entry {
    position: relative;
    height: 35%;
    display: flex;
    padding-top: 20px;
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.card .pillar {
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    font-size: 0.8vw;
    font-weight: 600;
}

.pillar.color1{
    background-color: #88afc0 !important;
}

.pillar.color2{
    background-color: #1C82AD !important;
}

.pillar.color3{
    background-color: #00337C !important;
}

.pillar.color4{
    background-color: #13005A !important;
}

.pillar {
    display: inline-table;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    background-color: #003247;
    text-transform: uppercase;
    padding: 1px 6px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.card .heading {
    margin: 0;
    font-size: 2.4rem;
    line-height: 1.25em;
    color: #fff;
    font-size: 1.1vw;
    font-weight: 400;
}

.card .meta {
    margin-top: 5px;
    margin-bottom: 5px;
}

.meta {
    display: flex;
    flex-direction: row;
    color: #696969;
    font-size: 0.8rem;
    font-style: italic;
}

/*btn*/
.btn-1 {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    bottom: 50px;
    left: 50px;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
}

.btn-1.blue{
    background-color: #696969;
    transition: 0.5s;
}

.btn-1:hover.blue{
    background-color: #2995fa;
    transition: 0.5s;
}

/*responsive*/
@media (max-width: 1980px){
    .container-first {
        max-width: 1500px;
    }

    .interest-item{
        line-height: 1.7rem;
    }

    .container-second{
        max-width: 1400px;
    }
}

@media (max-width: 1280px){
    .container-first {
        max-width: 1080px;
    }

    .interest-item{
        line-height: 1rem;
    }

    .container-second{
        max-width: 1000px;
    }
    .card{
        width: 300px;
        max-width: 300px;
        height: 300px;
    }
}

@media (max-width: 500px){
    .container-first {
        max-width: 300px;
    }
    .text-sz-big{
        font-size: 9vw;
    }
    .text-sz-nr{
        font-size: 5vw;
    }
    .text-sz-sm{
        font-size: 2.5vw;
    }
    .text-box-1{
        margin-left: 0;
    }
    .card{
        width: 300px;
        max-width: 300px;
        height: 300px;
    }
}

/*animation*/
.fade-in-left-07s{
    animation: fade-in-left 0.7s;
}

.fade-in-left-08s{
    animation: fade-in-left 0.8s;
}

.fade-in-left-1s{
    animation: fade-in-left 1s;
}

.fade-in-left-12s{
    animation: fade-in-left 1.2s;
}



@keyframes fade-in-left {
    0% { opacity: 0; transform: translate(-500px);}
    100% { opacity: 100; transform: translate(0px);}
}


@keyframes highlight-anim {
	from {
		width: 0;
		background: linear-gradient(transparent 45%, rgb(115, 80, 255) 41%, #2995fa 80%, transparent 81%);
	}
	to {
		width: 110%;
		background: linear-gradient(transparent 45%, rgb(115, 80, 255) 41%, #2995fa 80%, transparent 81%);
	}
}