@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(114, 114, 114);
    outline: 1px solid rgb(114, 114, 114);
  }

html{
    scroll-behavior: smooth;
}

:root {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
}

.bg-navbar {
    background-color: #262626;
}

.nav-item{
    color: rgb(165, 165, 165);
    transition: .2s;
}

.nav-item:hover{
    color: #ffffff;
    background-color: #1d1d1d;
    transition: .2s;
    box-shadow: inset 0px 0px 8px #00060c;
}

.profile_pic{
    box-shadow: -10px -10px #2995fa;
}

.box-contain{
    background: linear-gradient(0deg, rgb(80, 112, 255) 0%, #2995fa 50%);
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    font-size: 0.7vw;
    margin-right: 7px;
}

.des-box-contain{
    padding: 1px 5px;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    font-size: 0.7vw;
    margin-right: 7px;
}

.interest p{
    line-height: 0;
}

.menu-header-box{
    display: block;
    background-color: #fff;
    width: 100%;
    height: 15vh;
    margin-top: 50px;
    transition: 0.5s;
    box-shadow: 0 10px 5px #131313;
    border-radius: 2px;
}

.menu-header-box:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 10px #131313;
    transition: 0.5s;
}

.menu-header-box:hover .text-hl{
    background: #fff;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.menu-header-1{
    background-image: url("/img/workexpborderBW.jpg");
    background-size: cover;
}

.menu-header-1:hover{
    background-image: url("/img/workexpborderColor.jpg");
    background-size: cover;
}

.menu-header-2{ 
    background-image: url("/img/TAborderBW.jpg");
    background-size: cover;
}

.menu-header-2:hover{
    background-image: url("/img/TAborderColor.jpg");
    background-size: cover; 
}

.menu-header-3{
    background-image: url("/img/skillBW.jpg");
    background-size: cover;
}

.menu-header-3:hover{
    background-image: url("/img/skillColor.jpg");
    background-size: cover; 
}

.menu-header-4{
    background-image: url("/img/additionalActivitiesBW.jpg");
    background-size: cover;
}

.menu-header-4:hover{
    background-image: url("/img/additionalActivitiesColor.jpg");
    background-size: cover; 
}


.menu-header-container{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: start; 
    align-items: center;
    padding-left: 50px;
}

.menu-header-container h1{
    font-size: 1.7vw;
    font-weight: 600;
    color: #fff;
}

.work-img{
    width: 100%;
    margin-bottom: 10px;    
}

.side-bar{
    display: block;
    height: 100vh;
    position: fixed;
    right: 0;
    width: 33vw;
    background-color: #0f0f0f;
    padding: 2.5rem;
}

.visit-btn{
    color: #fff;
    background-color: #1C82AD;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 1.2vw;
    font-family: 'Train One', cursive;
    font-weight: 400;
    transition: 0.3s;
}

.visit-btn:hover{
    color: #1C82AD;
    background-color: #fff;
    transition: 0.3s;
}

.download-btn{
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-weight: 600;
    color: #fff;
    font-size: 0.75vw;
    font-weight: 400;
    transition: 0.3s;
}

.download-btn:hover{
    color: #b91e1e;
}

.youtube-btn{
    color: #fff;
    background-color: #c51313;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 1.2vw;
    font-family: 'Train One', cursive;
    font-weight: 400;
    transition: 0.3s;
}

.youtube-btn:hover{
    color: #c51313;
    background-color: #fff;
    transition: 0.3s;
}


.software-icon{
    width: 40px; 
    border-radius: 3px; 
    margin: 6px; 
    margin-left: 0px; 
    margin-top: 3px;
}

/*section*/
section{
    display: block;
    height: 100vh;
}

.section-banner {
    display: block;
    height: 30vh !important;
}

#sec-main{
    background-image: url(/img/secmain-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

#sec-third{
    background-image: url(/img/bg-third-sec.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #151515;
    width: 100%;
}

#sec-sub-header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

.back-icon{
    cursor: pointer;
    font-size:15px !important;
    color:#fff;
    background-color: #1C82AD;
    padding: 10px;
    border-radius: 100px;
}

.sidebar-mob-des{
    padding: 20px;
    display: none;
}

.block-border{
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 20px;
    width: 400px;
    max-width: 400px;
    height: 400px;
    margin: 20px;
}

.block-border .header{
    border-radius: 5px;
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.block-border .sub-header{
    font-size: 0.8vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.block-border .time{
    font-size: 0.8vw;
    font-weight: 600;
    color: #555555;
    font-style: italic;
}

.block-border .description{
    font-size: 0.7vw;
    font-weight: 400;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif !important;

}

/*text*/
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-hl{
    background: linear-gradient(0deg, rgb(80, 112, 255) 0%, #2995fa 50%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-sz-big{
    font-size: 7vw;
    font-weight: 600;
}

.text-sz-nr{
    font-size: 3vw;
    font-weight: 600;
}

.text-sz-sm{
    font-size: 1vw;
    font-weight: 600;
}

.text-sz-nr2{
    font-size: 4.5vw;
    line-height: 5rem;
    font-weight: 600;
}

.text-gradient{
    background: linear-gradient(0deg, rgb(80, 112, 255) 0%, #2995fa 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-box-1{
    margin-left: 5vw;
}

.hover-text-hl{
    transition: 0.5s;
}

.hover-text-hl:hover{
    color: #2995fa;
    transition: 0.5s;
}

.header-1{
    font-size: 1.5vw;
    font-weight: 600;
    color: #fff;
}

.txt-highlight-3 {
	position: relative;
	background: transparent;
	/*padding-left: 5px;*/
	transition: 1s;
}

.txt-highlight-2 {
	position: relative;
	background: transparent;
	/*padding-left: 5px;*/
	transition: 1s;
}

.txt-highlight-3::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	animation: highlight-anim2 1s;
	animation-fill-mode: forwards;
}

.txt-highlight-2::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	animation: highlight-anim 1s;
	animation-fill-mode: forwards;
}

.text-des-header{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.icon{
    font-size: 1.2vw;
}

.text-des{
    font-size: 1vw;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif !important; 
}

.text-des-sm{
    font-size: 0.8vw;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif !important; 
}

.info{
    font-size: 0.8vw;
    font-weight: 400;
    color: #fff;
}

.info-sm{
    font-size: 0.7vw;
    font-weight: 400;
    color: #fff;
}

.info-dot{
    color: #2995fa;
}

.info-fade{
    font-size: 0.65vw;
    font-style: italic;
    color: #b9b9b9;
}

.text-menu-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-center-hv{
    display: flex !important; 
    justify-content: center; 
    align-items: center;
}

/*Card*/
.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    height: 400px;
    background-color: #1d1d1d;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.35s ease;
    margin: 20px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05) translateY(-20px);
    background-color: #262626;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card .thumbnail{
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.card .thumbnail, .card .entry {
    padding-left: 30px;
    padding-right: 30px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    z-index: 0;
    transition: all 1s 0.05s ease;
    filter: saturate(0) brightness(0.6);
    transition: 1s;
}

.card:hover .image-bg{
    filter: saturate(1) brightness(1);
    transform: scale(1.1);
    transition: 1s;
}

.card .entry {
    position: relative;
    height: 35%;
    display: flex;
    padding-top: 20px;
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.card .pillar {
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 2px;
}

.pillar.color1{
    background-color: #5a879b !important;
}

.pillar.color2{
    background-color: #1C82AD !important;
}

.pillar.color3{
    background-color: #00337C !important;
}

.pillar.color4{
    background-color: #13005A !important;
}

.des-color1{
    background-color: #404258;
}

.des-color2{
    background-color: #7895B2;
}

.des-color3{
    background-color: #50577A;
}

.des-color4{
    background-color: #6B728E;
}

.des-color5{
    background-color: #5a879b;
}

.side-bar .des-box-contain{
    margin: 1px;
}

.pillar {
    display: inline-table;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    background-color: #003247;
    text-transform: uppercase;
    padding: 1px 6px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.card .heading {
    margin: 0;
    font-size: 2.4rem;
    line-height: 1.25em;
    color: #fff;
    font-size: 1.1vw;
    font-weight: 400;
}

.card .meta {
    margin-top: 5px;
    margin-bottom: 5px;
}

.meta {
    display: flex;
    flex-direction: row;
    color: #696969;
    font-size: 0.8rem;
    font-style: italic;
}

.footer-des{
    font-size: 0.7vw;
}

.text-caution{
    font-style: italic;
    color: rgb(196, 0, 0);
    font-size: 0.7vw;
    font-weight: 200;
}

/*btn*/
.btn-1 {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    bottom: 50px;
    left: 50px;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.btn-1.blue{
    background-color: #696969;
    transition: 0.5s;
}

.btn-1:hover.blue{
    background-color: #2995fa;
    transition: 0.5s;
}

.slider-box{
    height: 28rem;
}

.slider-container{
    width: 45rem;
}

.poster-container{
    display: block;
}

.mb-profile-box{
    display: none;
}

/*responsive*/
@media (max-width: 1980px){
    .container-first {
        max-width: 1500px;
    }

    .interest-item{
        line-height: 1.7rem;
    }

    .container-second{
        max-width: 1400px;
    }
    .sub-work-header{
        margin-bottom: 5px;
    }
    .poster-img{
        height: 24.5rem;
    }
}

@media (max-width: 1280px){
    .container-first {
        max-width: 1080px;
    }

    .interest-item{
        line-height: 1rem;
    }

    .container-second{
        max-width: 1000px;
    }
    .card{
        width: 300px;
        max-width: 300px;
        height: 300px;
    }
    .slider-box{
        height: 20rem;
    }
    .slider-container{
        padding: 1rem 0;
        width: 35rem;
    }
    .poster-img{
        height: 19rem;
    }
    .des-box-contain{
        margin: 0 !important;
    }
    .software-icon{
        width: 35px;
        margin: 3px;
        margin-left: 0;
    }
    .mob-des-contain{
        margin-right: 5px !important;
    }
    .meta{
        font-size: 0.8vw !important;
    }
}

@media (max-width: 500px){
    .container-first {
        max-width: 300px;
    }
    .text-sz-big{
        font-size: 9vw;
    }
    .text-sz-nr{
        font-size: 5vw;
    }
    .text-sz-sm{
        font-size: 2.5vw;
    }
    .text-box-1{
        margin-left: 0;
    }
    .card{
        width: 300px;
        max-width: 300px;
        height: 300px;
    }
    .slider-box{
        height: 14rem;
    }
    .slider-container{
        padding: 0;
        width: 20rem;
    }
    .poster-container{
        display: none !important;
    }
    .text-sz-nr2{
        font-size: 6vw;
        line-height: 1rem;
    }
    .side-bar{
        display: none;
    }
    .text-des-header{
        font-size: 5vw;
    }
    .icon, .text-des{
        font-size: 3vw;
    }
    .text-des-sm{
        font-size: 2.5vw;
    }
    .des-box-contain{
        font-size: 2vw;
        margin-right: 0;
    }
    .visit-btn{
        font-size: 3vw;
    }
    .youtube-btn{
        font-size: 3vw;
    }
    .sidebar-mob-des{
        display: block;
    }
    .software-icon{
        width: 30px;
        margin-left: 0;
        margin-right: 4px;
    }
    .meta{
        font-size: 2.5vw !important;
    }
    .back-btn{
        display: none;
    }
    .card .pillar{
        font-size: 2.5vw;
    }
    .card .heading{
        font-size: 3.5vw;
    }
    .mob-des-contain{
        margin-right: 4px !important;
    }
    .footer-des{
        font-size: 2.5vw !important;
    }
    .text-caution{
        font-size: 2vw !important;
    }
    .profile-box{
        display: none !important;
    }
    .profile_pic{
        margin-top: 20px;
        box-shadow: -2px -2px #2995fa;
        width: 35vw !important;
    }
    .mb-profile-box{
        display: flex !important;
    }
    .header-1{
        font-size: 3vw;
    }
    .info{
        font-size: 2.5vw;
    }
    .info-fade{
        font-size: 2vw;
    }
    .info-sm{
        font-size: 2.1vw;
    }
    .box-contain{
        font-size: 2vw;
        border-radius: 2px !important;
    }
    #aboutme{
        height: 110vh;
    }
    .menu-header-container h1{
        font-size: 4vw;
    }
    .menu-header-box{
        display: block;
        background-color: #fff;
        width: 100%;
        height: 20vh;
        margin-top: 10px;
        transition: 0.5s;
    }
    #sec-third{
        padding: 10px 10px;
    }
    .menu-header-container{
        padding-left: 20px;
    }
    .download-btn{
        font-size: 3vw;
    }
}

/*animation*/
.fade-in-left-07s{
    animation: fade-in-left 0.7s;
}

.fade-in-left-08s{
    animation: fade-in-left 0.8s;
}

.fade-in-left-1s{
    animation: fade-in-left 1s;
}

.fade-in-left-12s{
    animation: fade-in-left 1.2s;
}



@keyframes fade-in-left {
    0% { opacity: 0; transform: translate(-500px);}
    100% { opacity: 100; transform: translate(0px);}
}


@keyframes highlight-anim {
	from {
		width: 0;
		background: linear-gradient(transparent 45%, rgb(80, 112, 255) 41%, #2995fa 80%, transparent 81%);
	}
	to {
		width: 110%;
		background: linear-gradient(transparent 45%, rgb(80, 112, 255) 41%, #2995fa 80%, transparent 81%);
	}
}

@keyframes highlight-anim2 {
	from {
		width: 0;
		background: linear-gradient(transparent 45%, #2995fa 41%, #2995fa 80%, transparent 81%);
	}
	to {
		width: 100%;
		background: linear-gradient(transparent 45%, #2995fa 41%, #2995fa 80%, transparent 81%);
	}
}